@model WebApp.Models.JobDTO

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<strong>Delete</strong>

<strong>Are you sure you want to delete this?</strong>
<div>
    <strong>Student</strong>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="IdJob" />
        <dt>
            @Html.DisplayNameFor(model => model.JobName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpiresAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpiresAt)
        </dd>
       

    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
